INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=admin123
INFLUXDB_ORG=08c61a8e218e9ccf
INFLUXDB_BUCKET=up-iot
INFLUXDB_TOKEN=kXAbDO1tPq2BPcNonBa3nzxXduDiS-rQPB_l09LkxAr6TmaVeSU9D_jWnUavtoEtlvbgNPSzmY6HyH9EPrAR2A==
