INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=admin123
INFLUXDB_ORG=08c61a8e218e9ccf
INFLUXDB_BUCKET=up-iot
INFLUXDB_TOKEN=kXAbDO1tPq2BPcNonBa3nzxXduDiS-rQPB_l09LkxAr6TmaVeSU9D_jWnUavtoEtlvbgNPSzmY6HyH9EPrAR2A==
MQTT_SECRET_TOKEN=your_32char_hex_token_here
GOOGLE_API_KEY=your_google_api_key_here
GMAIL_USER=your_gmail@gmail.com
GMAIL_APP_PASSWORD=your_16char_app_password
ALERT_EMAIL_TO=recipient@example.com
